.avatar {
  display: inline-block;
  width: 54px;
  border-radius: 1000px;
}

.avatar img {
  max-width: 100%;
  border-radius: 1000px;
}

.chat-app-window {
  overflow-y: scroll;
  background-color: #FFFFFF;
}

.time {
  color: #BABFC7;
  font-size: .8rem;
  text-align: center;
  margin: 2rem 0;
  clear: both;
}

.chat-body {
  overflow: hidden;
}

.chat-content {
  text-align: left;
  position: relative;
  display: block;
  float: left;
  padding: 8px 15px;
  margin: 0 0 10px 20px;
  color: #000;
  background-color: #E6E6FA;
  border-radius: 4px;
  clear: both;
}

.chat-content p {
  margin: 0;
}

.chat-content::before {
  position: absolute;
  top: 10px;
  left: -10px;
  content: '';
  border: 5px solid transparent;
  border-right-color: transparent;
  border-right-color: #E6E6FA;
}

.chat-left {
  float: right;
  text-align: right;
  margin: 0 20px 10px 0;
}

.chat-left .chat-avatar {
  float: right;
}

.chat-left .chat-content {
  text-align: right;
  float: right;
  padding-left: 2rem;
  margin: 0 20px 10px 0;
  color: #404E67;
  background-color: #D4F0FF;
}

.chat-left .chat-content::before {
  left: auto;
  right: -10px;
  border-left-color: #EDEEF0;
  border-right-color: transparent;
}

.chat {
  width: 65%;
  clear: both;
  min-height: 5rem;
}

.chat-avatar {
  float: left;
}
#chtBdy {
  min-height: 11rem;
}

@media (max-width: 575px) {
  .chat {
    width: 100%;
}
}