@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------------------
[Table of contents]

1. GLOBAL 
2. SITE COLORS
3. TYPOGRAPHY
4. ELEMENTS

-------------------------------------------------------------------*/




/*----------------------------------------------------------------
1. GLOBAL 
-------------------------------------------------------------------*/

#map {
    margin-right: -17px !important;}
a {
    color: #17a2b8;
}

.emrGnC {
    background-color: #dc35ab;
}
/*----------------------------------------------------------------
3. TYPOGRAPHY
-------------------------------------------------------------------*/


/*----------------------------------------------------------------
4. ELEMENTS
-------------------------------------------------------------------*/

.page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #6c757d;
}

.page-link {
    color: #17a2b8;
}

.action {
    display: flex;
}
#secSte .map-responsive {
    height:300px !important;

}
.map-responsive{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:1000px !important;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*Extra small devices (portrait phones, less than 575px)

@media (max-width: 767px) {
    .map-responsive{
    min-height:600px ;
}
#map {
    margin-right: inherit  !important;}
}
#resQ .map-responsive {
    height: 300px;
}*/